.spotdog form {
    padding: 0 20px;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .form-field {
        text-align: center;
        label {
            display: block;
        }
        input {
            width: 300px;
            padding: 10px 16px;
            border: 1px solid transparent;
            background: #edf2f7;
            line-height: 1.5em;
            outline: none;
            border-radius: 8px;
            margin-bottom: 4px;

        }
    }

    .submit-button {
        height: 36px;
        width: 200px;
        align-self: center;
        background: #6cb2eb;
        border: none;
        border-radius: 8px;
    }
}