.footer {
    height: 9vh;
    width: 100%;
    color: white;
    background-color: #242729;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: inherit;
    }
}